.sing_up{
    width: 193px;
    height: 55px;

    background: #D55555;
    color: var(--white-color);
    border-radius: 10px;
    border: 0rem;
    text-align: center;

    margin-bottom: 8.7rem;
}
.header_text{
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;

    max-width: 32rem;
    max-height: 10.8rem;
}

.header_second{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #9D9D9D;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header_first{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    text-align: center;

    color: #19191B;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.flex_text_button{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8.9rem; */
}